body {
  background: url("../img/3.jpg");
  background-size: cover;
}
.radius {
  border-radius: 30px;
}
.player {
  height: 50%;
  padding-left: 20px;
  padding-top: 20px;
}
.identity {
  height: 90%;
  width: 10%;
  margin-left: 10px;
  font-size: 60px;
  /*line-height: 1.7em;*/
}
.poke {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.player span {
  color: #fff;
  font-size: 30px;
}
#main {
  margin: 0 auto;
  padding-top: 10px;
}
#head {
  background: url("../img/title3.png") no-repeat;
  height: 110px;
  width: 900px;
}
#game-body {
  margin: 0 20px;
  box-shadow: 1px 2px 3px #ddd;
}
#inside {
  background: rgba(255,255,255,0.4);
}
#container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#start {
  width: 600px;
  height: 150px;
  background: transparent;
  border: 0;
  font-size: 100px;
  font-weight: bold;
  margin-top: -30px;
  color: blue;
}
#start:hover {
  color: #0b0bab;
}
#start:active {
  color: #000;
}
#gaming {
  display: none;
  height: 100%;
}
#score {
  height: 100%;
  flex-basis:5%;
}
#left {
  height: 100%;
  flex-basis: 68%;
}
#right {
  height: 100%;
  flex-basis: 27%;
}
#right-top {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#right-bottom {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.poke li {
  position: relative;
  width: 15%;
  height: 60%;
  margin-right: -50px;
}
#right button {
  width: 88%;
  height: 50%;
  font-size: 60px;
  border: 0;
  background: url("../img/smallbuttonnopush.png");
  background-size: 100% 100%;
}
#right button:active {
  background: url("../img/smallbutton.png");
  background-size: 100% 100%;
}
#hit,#restart {
  margin-top: -100px;
}
