body {
  background: url("../img/3.jpg");
  background-size: cover;
}
.radius {
  border-radius: 30px;
}
#main {
  margin: 0 auto;
}
#head {
  background: url("../img/title3.png") no-repeat;
  height: 110px;
  width: 900px;
}
#game-body {
  margin: 0 20px;
  box-shadow: 1px 2px 3px #ddd;
}
#inside {
  background: rgba(255,255,255,0.4);
}
#container {
  border: ipx solid #000;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#poke {
  width: 300px;
  height: 300px;
  background: url("../img/b1.png");
  background-size: contain;
}
#start {
  width: 600px;
  height: 150px;
  background: transparent;
  border: 0;
  font-size: 100px;
  top: 40%;
  left: 30%;
  font-weight: bold;
  margin-top: -30px;
  color: blue;
}
#start:hover {
  color: #0b0bab;
}
#start:active {
  color: #000;
}
#gaming {
  display: none;
  height: 100%;
}
#left {
  height: 100%;
  background: red;
  -webkit-flex-basis: 60%;
  flex-basis: 60%;}
#right {
  height: 100%;
  background: yellow;
  -webkit-flex-basis: 40%;
  flex-basis: 40%;
}
